# Ignore node_modules everywhere
node_modules/
*/node_modules/

# Ignore env files everywhere
.env
*/.env

# React / Node build outputs
build/
dist/
*/build/
*/dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

dashboard1/
